ZENOH_USERNAME=
ZENOH_PASSWORD=
 
EXTREMEXP_WORKFLOWS_API_URL=
EXTREMEXP_WORKFLOWS_API_KEY=
 
EXTREMEXP_EXPERIMENTATION_API_URL=

EXTREMEXP_OUTPUT_DIR=/app/output

APP_GRPC_HOST_NAME=localhost
APP_GRPC_HOST_PORT=50051

LANGFUSE_SECRET_KEY=
LANGFUSE_PUBLIC_KEY=

MLFLOW_TRACKING_TOKEN=